{% extends 'SharingVideoBundle::base.html.twig' %}

{% block body %}
    <div class="intro">
        <div class="container">
            <div class="row">
            {% block fos_user_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}