{% extends 'SharingVideoBundle::base.html.twig' %}

{% block body %} 
    <div class="intro">
        <div class="container">
            <div class="row">
                <div id="screen">
                    <div id="mediaplayer">
                        <span>Loading the player ...</span>
                    </div>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                    <label for="sync">Synchronize</label>
                    <input type="checkbox" checked="checked" id="sync" /> 
                </div>
                <div class="col-lg-12">
                    <label>History</label>
                    <ul id="message"></ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var master = '{{user}}';
        var synchronization = true;
        var videoUrl = '';

        $(function(){
            $("#sync").on('click', function () {
                synchronization = $(this).is(':checked');
            });
        });

        socket.emit('slave_new', {master: master});

        socket.on('message', function(message){
            newMessage(message);
        });

        socket.on('master_event_change', function(d){
            if(synchronization){
                if(!player || d.event==='onChange'){
                    videoUrl = d.videoUrl;
                    var videoId = getYoutubeVideoId(videoUrl);
                    refreshYoutubePlayer(videoId);
                    player.playVideo();
                }
                if(d.event==='onPlay'){
                    player.playVideo();
                }
                if(d.event==='onPause'){
                    player.pauseVideo();
                }
                if(d.event==='onBuffer'){
                    player.seekTo(d.seconds);
                    player.playVideo();
                }
                if(d.event==='onTime'){
                    var currentTime = player.getCurrentTime();

                    if(currentTime < d.seconds-(delay/2) || currentTime > d.seconds+(delay/2)) {
                        player.seekTo(d.seconds);
                    }
                }
            }
        });

        function onPlayerStateChange(event) {
            if(event.data === 2) {
                socket.emit('slave_wait', {seconds: player.getCurrentTime(), videoUrl: videoUrl, event: 'onPause'});
            }
            if(event.data === 3) {
                socket.emit('slave_wait', {seconds: player.getCurrentTime(), videoUrl: videoUrl, event: 'onPause'});
            }
        }

    </script>
{% endblock %}