parameters:
    database_driver:   pdo_mysql
    database_host:     mysql
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: root
    database_server_version: 5.6

    mailer_transport: smtp
    mailer_host: in-v3.mailjet.com
    mailer_auth_mode: login
    mailer_port: 587
    mailer_user: ~
    mailer_password: ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
